<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css">
    <script src="https://kit.fontawesome.com/42deadbeef.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/placement">Placement</a></li>
            <li><a href="/notification">Notification</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div>
        <h3 style="margin-left: 39%; margin-top: 35px; color: white;">Welcome Gopal Gupta</h>
    </div>

    <div class="wrapper">
        <form id="1" action="/event/publish?eid=<%=event.eid%>" method="POST"></form>
        <form id="2" action="/event/add-content?eid=<%=event.eid%>" enctype="multipart/form-data" method="POST"></form>
        <form id="3" action="/event/invite?eid=<%=event.eid%>"  method="POST"></form>
        <form class="form-signin">
            <h2 class="form-signin-heading"><%=event.display_name%></h2><br><br>
            <%if(isAdmin){%>
                <p class="form-signin-heading"> Broadcast new message </p>
                <input type="text" form="1" name="message" class="form-control" placeholder="Message" /><br>
                <button form="1" class="btn btn-lg btn-primary btn-block" type="submit">Publish</button><br><br>
            <%}%>
            <%event.updates.forEach((u)=>{%>
                <div><a> <%=u%></a></div>
            <%})%>
            <br>
            <hr>
            <h2 class="form-signin-heading">Resources</h2>
            <%if(isAdmin){%>
                <div>  UPLOAD NEW CONTENT  </div>
                <input style="display: inline;" type="file" form="2" name="file" class="form-control" placeholder="File" /><br>
                <button style="display: inline;" form="2" class="btn btn-sm btn-primary btn-block" type="submit">Submit</button><br><br>
            <%}%>
            <%event.files.forEach((f)=>{%>
                <div> <a href="<%=f.url%>" target="_blank">  <%=f.name%> </a> </div>
            <%})%>
            <hr>
            <%if(isAdmin){%>
                <div>  Invite Admin  <input type="text" form="3" name="email" placeholder="email" class="form-control"><br>
                <button form="3" class="btn btn-lg btn-danger btn-block" type="submit">Invite</button></div>
            <%}%>
            <%users.forEach((u)=>{%>
                <div> <%=u.email%></div>
            <%})%>



        </form>
    </div>
</body>

</html>